textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  

  button {
    display: block;
    margin-top: 10px;
  }


  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  

  h1 {
    text-align: center;
    color: rgb(58, 44, 44)
  }